@import url("https://fonts.googleapis.com/css2?family=Sawarabi+Mincho&display=swap");
body {
  margin: 0;
  padding: 0;
  background: rgb(116 173 177);
  font-family: "Sawarabi Mincho", sans-serif;
}
.wrap {
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
  height: 550px;
  width: 450px;
  background: rgba(255, 255, 255, 0.9);
  margin: auto;
  box-shadow: 0px 0px 5px 0px #888;
}
.wrap::before {
  content: "";
  position: absolute;
  left: 45px;
  height: 100%;
  width: 2px;
  background: rgb(209 83 73);
}
.lines {
  margin-top: 40px;
  height: calc(100% - 40px);
  width: 100%;
  background: repeating-linear-gradient(white 0px, white 24px, steelblue 25px);
}
.contents {
  position: absolute;
  top: 65px;
  left: 55px;
  bottom: 10px;
  right: 10px;
  overflow: hidden;
}
#text_area {
  width: 100%;
  height: 100%;
  padding: 0px;
  border: none;
  border-radius: 0px;
  outline: none;
  background: none;
  font-family: "Sawarabi Mincho", sans-serif;
  line-height: 25px;
}
.holes {
  position: absolute;
  left: 10px;
  height: 25px;
  width: 25px;
  background: rgb(116 173 177);
  border-radius: 50%;
  box-shadow: inset 0px 0px 2px 0px #888;
}
.hole-top {
  top: 10%;
}
.hole-middle {
  top: 50%;
}
.hole-bottom {
  bottom: 10%;
}
.action {
  display: flex;
  justify-content: space-between;
  position: absolute;
  top: -30px;
  right: 10px;
  width: 140px;
}
.btn {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  text-align: center;
  line-height: 60px;
  box-shadow: 0px 0px 3px 0px #888;
  color: #fff;
  cursor: pointer;
  transition: all 0.3s;
}
.btn:hover {
  transform: scale(1.1);
}
#save {
  background: teal;
}
#clear {
  background: indianred;
}
